<div class="text-center">
    <h1>Login</h1>
    <p>Hello! Login with Your E-mail rrr</p>
    <div class="row">
        <!--Email Address-->
        <div class="col-md-12 col-sm-12 col-xs-12 margin-b-m">
            <label class="login-label">Email address</label>
            <input type="text"
                   nbinput=""
                   fullwidth=""
                   placeholder="Email address"
                   class="input-full-width size-medium status-basic shape-rectangle nb-transition ">
        </div>
        <!--Password-->
        <div class="col-md-12 col-sm-12 col-xs-12 margin-b-m">
            <label class="login-label">Password</label>
            <input type="password"
                   nbinput=""
                   fullwidth=""
                   placeholder="Password"
                   class="input-full-width size-medium status-basic shape-rectangle nb-transition ">
        </div>

        <!--Remember Me-->
        <div class="col-md-12 col-sm-12 col-xs-12 margin-b-m text-left">
            <div class="form-check no-padding-left">
                <label>
                    <input style="margin-right: 5px;"
                           type="checkbox"
                           name="check"
                           checked> <span class="remember-me">Remember me</span>
                </label>
            </div>
        </div>
        <!--Button Login-->
        <div class="col-md-12 col-sm-12 col-xs-12 margin-b-m text-left">
            <div class="form-check no-padding-left">
                <button nbbutton=""
                        hero=""
                        ng-reflect-hero=""
                        ng-reflect-status="success"
                        (click)="login()"
                        aria-disabled="false"
                        tabindex="0"
                        class="appearance-hero size-medium status-success shape-rectangle ng-star-inserted nb-transition"> Login </button>
            </div>
        </div>

    </div>

</div>