<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-12">
        <ngx-profit-card></ngx-profit-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <nb-card>
      <nb-card-header>Productivity
        <nb-select [selected]="type" >
          <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
        </nb-select>
      </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
    <!-- <ngx-ecommerce-charts></ngx-ecommerce-charts> -->
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <nb-card>
      <nb-card-header>
        Top FAHR Employee Productivity Prohibitors</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
